/* States */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px;
gap: 66px;

position: relative;
width: 260px;
height: 421px;

background: #FFFFFF;


/* Listening without audio input */

width: 160px;
height: 95px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* voice input state */

position: absolute;
width: 160px;
height: 47px;
left: 0px;
bottom: 0px;



/* Surface / Thin Acrylic Surface */

position: absolute;
width: 160px;
height: 47px;
left: 0px;
top: 48px;



/* Thin Acrylic Base (Fill) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

/* Dark/Fill Color/System/Solid Attention Background */
background: #2E2E2E;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 7px;


/* Thin Acrylic Base (Shadow) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

background: #FFFFFF;
mix-blend-mode: multiply;
/* Light/Shell Shadows/Shell Surface */
box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.1876), 0px 2px 6px rgba(0, 0, 0, 0.1474);
border-radius: 7px;


/* Thin Acrylic Base (Stroke) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

/* Light/Stroke Color/Surface Stroke/Default

Fallback Color: #757575, 100%
*/
border: 1px solid rgba(117, 117, 117, 0.4);
border-radius: 7px;


/* animation */

position: absolute;
width: 158px;
height: 45px;
left: 1px;
top: 49px;

border-radius: 7px;


/* VUI / Static / Attention State */

position: absolute;
width: 158.86px;
height: 77.04px;
left: -0.86px;
top: calc(50% - 77.04px/2 + 19.4px);



/* Vector Graphic */

position: absolute;
width: 158.86px;
height: 77.04px;
left: -0.86px;
top: 3.37px;



/* Rectangle 378 */

position: absolute;
width: 158.86px;
height: 77.04px;
left: -0.86px;
top: 3.37px;

background: #C4C4C4;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 309.68px;
height: 258.34px;
left: -76.27px;
top: 27.05px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Waves 1 */

position: absolute;
width: 152.5px;
height: 17.97px;
left: 0.17px;
top: 26.84px;

background: linear-gradient(181.73deg, #FFFFFF 2.69%, rgba(255, 255, 255, 0) 105.66%);


/* Vector 1 */

position: absolute;
width: 158.23px;
height: 18.41px;
left: -0.65px;
top: 26.84px;

background: #C4C4C4;
border: 1px solid #000000;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 309.68px;
height: 258.34px;
left: -76.27px;
top: 27.05px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Teaching Tip / Teaching Tip

Drill down to the Content layer and swap instances of Teaching Tip / Light or Teaching Tip / Dark in the instance selector above properties.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 89px;
height: 48.41px;
left: 35px;
top: 0px;

/* Light/Shadows/Flyout */
filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.14));


/* Pointer Alignment */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 89px;
height: 48.41px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content (Stroke) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 89px;
height: 40px;

/* Dark/Stroke Color/Surface Stroke/Default */
border: 1px solid rgba(117, 117, 117, 0.4);
border-radius: 7px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content (Fill, Blur) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 89px;
height: 40px;

/* Dark/Background/Fill Color/Acrylic Background/Default

Fallback to #2c2c2c
*/
background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
background-blend-mode: normal, color, luminosity;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 7px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Teaching Tip / Dark / Single line */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 89px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 12px 11px;

width: 89px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 65px;
height: 20px;

/* Body */
font-family: 'Segoe UI Variable';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
font-feature-settings: 'rclt' off;

/* Dark/Fill Color/Text/Primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pointer */

width: 38.83px;
height: 8.41px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Pointer */

position: absolute;
width: 14.83px;
height: 8.41px;
left: 12px;
top: 0px;



/* Pointer Down (Fill, Blur) */

position: absolute;
width: 14px;
height: 7px;
left: calc(50% - 14px/2 - 0px);
bottom: 1.41px;

/* Dark/Background/Fill Color/Acrylic Background/Default

Fallback to #2c2c2c
*/
background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
background-blend-mode: normal, color, luminosity;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */


/* Pointer Down (Stroke) */

position: absolute;
width: 14.83px;
height: 7.41px;
left: calc(50% - 14.83px/2 - 0px);
bottom: 0px;

/* Dark/Stroke Color/Surface Stroke/Default */
background: rgba(117, 117, 117, 0.4);


/* Listening to audio */

width: 160px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* voice input state */

position: absolute;
width: 160px;
height: 47px;
left: 0px;
bottom: 0px;



/* Surface / Thin Acrylic Surface */

position: absolute;
width: 160px;
height: 47px;
left: 0px;
top: 0px;



/* Thin Acrylic Base (Fill) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

/* Dark/Fill Color/System/Solid Attention Background */
background: #2E2E2E;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 7px;


/* Thin Acrylic Base (Shadow) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

background: #FFFFFF;
mix-blend-mode: multiply;
/* Light/Shell Shadows/Shell Surface */
box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.1876), 0px 2px 6px rgba(0, 0, 0, 0.1474);
border-radius: 7px;


/* Thin Acrylic Base (Stroke) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

/* Light/Stroke Color/Surface Stroke/Default

Fallback Color: #757575, 100%
*/
border: 1px solid rgba(117, 117, 117, 0.4);
border-radius: 7px;


/* animation */

position: absolute;
width: 158px;
height: 45px;
left: 1px;
top: 1px;

border-radius: 7px;


/* VUI / Static / Attention State */

position: absolute;
width: 158.97px;
height: 77.09px;
left: -0.91px;
top: 3.35px;



/* Vector Graphic */

position: absolute;
width: 158.97px;
height: 77.09px;
left: -0.91px;
top: 3.35px;



/* Rectangle 378 */

position: absolute;
width: 158.97px;
height: 77.09px;
left: -0.91px;
top: 3.35px;

background: #C4C4C4;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 309.88px;
height: 258.51px;
left: -76.37px;
top: 27.04px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Waves 1 */

position: absolute;
width: 156.08px;
height: 30.12px;
left: 0.12px;
top: 14.69px;

background: linear-gradient(181.73deg, #FFFFFF 2.69%, rgba(255, 255, 255, 0) 105.66%);


/* Vector 1 */

position: absolute;
width: 158.33px;
height: 30.57px;
left: -0.7px;
top: 14.69px;

background: #C4C4C4;
border: 1px solid #000000;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 309.88px;
height: 258.51px;
left: -76.37px;
top: 27.04px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Waves 2 */

position: absolute;
width: 155.73px;
height: 21.32px;
left: 0.12px;
top: 23.49px;

background: linear-gradient(181.73deg, #FFFFFF 2.69%, rgba(255, 255, 255, 0) 105.66%);


/* Vector 1 */

position: absolute;
width: 158.33px;
height: 21.77px;
left: -0.7px;
top: 23.49px;

background: #C4C4C4;
border: 1px solid #000000;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 309.88px;
height: 258.51px;
left: -76.37px;
top: 27.04px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Waves 3 */

position: absolute;
width: 155.25px;
height: 18.22px;
left: 0.12px;
top: 26.59px;

background: linear-gradient(181.73deg, #FFFFFF 2.69%, rgba(255, 255, 255, 0) 105.66%);


/* Vector 1 */

position: absolute;
width: 158.33px;
height: 18.66px;
left: -0.7px;
top: 26.59px;

background: #C4C4C4;
border: 1px solid #000000;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 309.88px;
height: 258.51px;
left: -76.37px;
top: 27.04px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Teaching Tip / Teaching Tip

Drill down to the Content layer and swap instances of Teaching Tip / Light or Teaching Tip / Dark in the instance selector above properties.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
visibility: hidden;
width: 89px;
height: 48.41px;
left: 36px;
top: -48px;



/* Pointer Alignment */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 89px;
height: 48.41px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content (Stroke) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 89px;
height: 40px;

/* Dark/Stroke Color/Surface Stroke/Default */
border: 1px solid rgba(117, 117, 117, 0.4);
border-radius: 7px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content (Fill, Blur) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 89px;
height: 40px;

/* Dark/Background/Fill Color/Acrylic Background/Default

Fallback to #2c2c2c
*/
background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
background-blend-mode: normal, color, luminosity;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 7px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Teaching Tip / Dark / Single line */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 89px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 12px 11px;

width: 89px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 65px;
height: 20px;

/* Body */
font-family: 'Segoe UI Variable';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
font-feature-settings: 'rclt' off;

/* Dark/Fill Color/Text/Primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pointer */

width: 38.83px;
height: 8.41px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Pointer */

position: absolute;
width: 14.83px;
height: 8.41px;
left: 12px;
top: 0px;



/* Pointer Down (Fill, Blur) */

position: absolute;
width: 14px;
height: 7px;
left: calc(50% - 14px/2 - 0px);
bottom: 1.41px;

/* Dark/Background/Fill Color/Acrylic Background/Default

Fallback to #2c2c2c
*/
background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
background-blend-mode: normal, color, luminosity;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */


/* Pointer Down (Stroke) */

position: absolute;
width: 14.83px;
height: 7.41px;
left: calc(50% - 14.83px/2 - 0px);
bottom: 0px;

/* Dark/Stroke Color/Surface Stroke/Default */
background: rgba(117, 117, 117, 0.4);


/* Processing audio after recording */

width: 160px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* voice input state */

position: absolute;
width: 160px;
height: 47px;
left: 0px;
bottom: 0px;



/* Surface / Thin Acrylic Surface */

position: absolute;
width: 160px;
height: 47px;
left: 0px;
top: 0px;



/* Thin Acrylic Base (Fill) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

/* Dark/Fill Color/System/Solid Attention Background */
background: #2E2E2E;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 7px;


/* Thin Acrylic Base (Shadow) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

background: #FFFFFF;
mix-blend-mode: multiply;
/* Light/Shell Shadows/Shell Surface */
box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.1876), 0px 2px 6px rgba(0, 0, 0, 0.1474);
border-radius: 7px;


/* Thin Acrylic Base (Stroke) */

position: absolute;
left: 1px;
right: 1px;
top: 1px;
bottom: 1px;

/* Light/Stroke Color/Surface Stroke/Default

Fallback Color: #757575, 100%
*/
border: 1px solid rgba(117, 117, 117, 0.4);
border-radius: 7px;


/* animation */

position: absolute;
width: 158px;
height: 45px;
left: 1px;
top: 1px;

border-radius: 7px;


/* VUI / Static / Attention State */

position: absolute;
width: 158.86px;
height: 77.04px;
left: -0.86px;
top: 3.37px;



/* Vector Graphic */

position: absolute;
width: 158.86px;
height: 77.04px;
left: -0.86px;
top: 3.37px;



/* Rectangle 378 */

position: absolute;
width: 158.86px;
height: 77.04px;
left: -0.86px;
top: 3.37px;

background: #C4C4C4;


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 309.68px;
height: 258.34px;
left: -76.27px;
top: 27.05px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Waves 1 */

position: absolute;
width: 152.5px;
height: 17.97px;
left: 0.17px;
top: 26.84px;

background: linear-gradient(181.73deg, #FFFFFF 2.69%, rgba(255, 255, 255, 0) 105.66%);


/* Vector 1 */

position: absolute;
width: 158.23px;
height: 18.41px;
left: -0.65px;
top: 26.84px;

background: #C4C4C4;
border: 1px solid #000000;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 309.68px;
height: 258.34px;
left: -76.27px;
top: 27.05px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.1);
box-shadow: 0px 8px 16px rgba(1, 0, 66, 0.06), inset 0px 4px 12px rgba(255, 255, 255, 0.15);


/* Teaching Tip / Teaching Tip

Drill down to the Content layer and swap instances of Teaching Tip / Light or Teaching Tip / Dark in the instance selector above properties.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
visibility: hidden;
width: 106px;
height: 48.41px;
left: calc(50% - 106px/2);
top: -48px;



/* Pointer Alignment */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 106px;
height: 48.41px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content (Stroke) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 106px;
height: 40px;

/* Dark/Stroke Color/Surface Stroke/Default */
border: 1px solid rgba(117, 117, 117, 0.4);
border-radius: 7px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content (Fill, Blur) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 106px;
height: 40px;

/* Dark/Background/Fill Color/Acrylic Background/Default

Fallback to #2c2c2c
*/
background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
background-blend-mode: normal, color, luminosity;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 7px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Teaching Tip / Dark / Single line */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 106px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 9px 12px 11px;

width: 106px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 82px;
height: 20px;

/* Body */
font-family: 'Segoe UI Variable';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
font-feature-settings: 'rclt' off;

/* Dark/Fill Color/Text/Primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pointer */

width: 38.83px;
height: 8.41px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Pointer */

position: absolute;
width: 14.83px;
height: 8.41px;
left: 12px;
top: 0px;



/* Pointer Down (Fill, Blur) */

position: absolute;
width: 14px;
height: 7px;
left: calc(50% - 14px/2 - 0px);
bottom: 1.41px;

/* Dark/Background/Fill Color/Acrylic Background/Default

Fallback to #2c2c2c
*/
background: url(NoiseAsset_256.png), linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);
background-blend-mode: normal, color, luminosity;
/* Blur / Acrylic */
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */


/* Pointer Down (Stroke) */

position: absolute;
width: 14.83px;
height: 7.41px;
left: calc(50% - 14.83px/2 - 0px);
bottom: 0px;

/* Dark/Stroke Color/Surface Stroke/Default */
background: rgba(117, 117, 117, 0.4);
